---
import { getCollection } from "astro:content";
import HorizontalCard from "@components/HorizontalCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import createSlug from "src/lib/createSlug";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 5);
const last_projects = projects.slice(0, 5);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jorge Harrisonn</div>
    <div class="text-3xl py-3 font-bold">Computer Science student</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my personal website! Here you can find my latest projects, blog posts and more. Feel free to explore and reach out to me if you have any questions or just want to chat.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/projects/" + createSlug(project.data.title, project.id)}
          target="_self"
        />
      </>
    ))
  }

  <a class="btn btn-accent mt-9" href="/projects">All projects</a>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest blog posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.id)}
          target="_self"
          badge={post.data.badge}
        />
      </>
    ))
  }

  <a class="btn btn-accent mt-9" href="/blog">All posts</a>

</BaseLayout>
